################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IPROGS.MATESUP.CoreAPI
/Iprogs.Matesup.CoreAPI/obj
/profile.publishsettings
